<nav>
  <div class="nav-left">
  <h1>Welcome to Acebook</h1>
  </div>
  <div class="nav-right">

    <h4><%= link_to 'Log in', login_path %></h4>
</nav>


<body class="structural-integrity-div">
  <body class="signup-body">
    <div class="signup-card">
      <div class="signup-header">Sign up</div>

  <%= form_for @user do |form| %>

    <%= render 'shared/error_messages' %>

      <div class="signup-body__message">
        <div class="hidden"><%= form.label :first_name %></div>
        <%= form.text_field :first_name, placeholder: "first name", class: "form-control" %>
      </div>
      <div class="signup-body__message">
        <div class="hidden"><%= form.label :last_name %></div>
        <%= form.text_field :last_name, placeholder: "last name", class: "form-control" %>
      </div>
      <div class="signup-body__message">
        <div class="hidden"><%= form.label :email %></div>
        <%= form.text_field :email, placeholder: "email", class: "form-control" %>
      </div>
      <div class="signup-body__message">
        <div class="hidden"><%= form.label :password %></div>
        <%= form.text_field :password, placeholder: "password", type: "password", class: "form-control" %>
      </div>
      <div class="signup-body__submit">
        <%= form.submit "Submit" %>
      </div>

  <% end %>

    </div>
  </body>
</body>
