<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <nav>
      <div class="nav-left">
      <h1>Acebook</h1>
      </div>
      <div class="nav-right">
        <%= link_to login_path do %>
          <h4>Log in</h4>
        <% end %>
        </div>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
